html, body {
  height: 100%;
  margin: 0;
}
/* angular components */
app-root section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
app-header, app-footer {
  display: block;
  background-color: #2e0d36;
  width: 100%;
}
app-main {
  display: block;
  flex: 1;
  width: 100%;
  background: linear-gradient(22deg, #a7ffec 25%, #ffd359 100%);
}

/* extension classes for bootstrap */
.container {max-width: 1600px;}

/* xray lines */
.xray-1 {border: 1px dashed black;}
.xray-2 {border: 2px dashed black;}
.xray-3 {border: 3px dashed black;}

